* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: hwb(49 38% 41%);
  color: white;
  padding: 5px;
}

header h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3vw;
  padding: 5px;
}

header nav {
  padding: 20px;
  font-size: large;

}

header a {
  color: white;
  padding: 10px;
}

header img {
  justify-content: flex-start;

}

.hero-banner div {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  background-image: url("../images/1693689636655.jpeg");
  height: 20vw;

}

.hero-banner h2 {

  background-color: skyblue;
  padding: 5px;
  font-size: xx-large;
  margin: 0 5px -30px 0;
  border-style: ridge;
  font-family: 'Dancing Script', cursive;
  font-family: 'Oswald', sans-serif;

}

.hero-banner img {
  margin-bottom: -30px;
}

.page-wrapper {
  margin: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#about,
#work,
#resume,
#contact {
  margin-bottom: 50px;
}

.projects {
  text-align: left;
  position: relative;
}

div {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 30px;
  width: 100%;

}

.projects h3 {

  position: absolute;
  left: 200px;
  top: 0px;
  /* width: 100%; */
  margin: 0;
  font-size: 15px;
  color: #c9c90f;
  background-color: rgba(0, 0, 0, 0.7);
  /* Optional: Add a semi-transparent background */
  padding: 10px;
  border-radius: 8px;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#aboutmeh2,
#workh2,
#resumeh2,
#contacth2 {
  padding-bottom: 20px;
}

/* #project1:active,
#project1:target {
  transform: scale(2);

} */

#project1 {
  width: 100%;
  border-style: solid;
}

#project2 {
  width: 100%
}

#project3 {
  width: 90%
}